header {
  background-color: #FFA500;
  /* Orange background */
  color: #FFFFFF;
  /* White text */
  height: 60px;
  /* Adjust height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* Add padding as needed */
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.logo a {
  color: #FFFFFF;
  /* White text */
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 0 20px;
}

nav li a {
  color: #FFFFFF;
  /* White text */
  text-decoration: none;
  font-size: 16px;
}

.slideshow {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slide {
  flex: 1 0 100%;
  height: 100%;
}

.slide img {
  width: 19%;
  height: 165%;
  object-fit: cover;
  margin-left: 7%;
  margin-bottom: 1%;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  cursor: pointer;
}

.indicator.active {
  background-color: #FFFFFF;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.classes {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.col {
  flex: 1;
  padding: 0 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #FF8C00;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #6fff00d8;
}

footer {
  background-color: #FF8C00;
  color: white;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.address p,
.contact p {
  margin-bottom: 5px;
}

.fb {
  color: blue;
}

.yt {
  color: red;
}

.google-reviews {
  color: yellow;
}